/** THIS CODE IS USED FOR PBS_MAPPING FOR MD**/
-- JOIN PBS MAPPING WITH MD DRUGS
SELECT MD_DRUG_NO, MD_SOURCE_AMT, ATC_CODE INTO PBS_MD_ATC_AMT FROM MD_AMT B
INNER JOIN PBS_ATC_AMT P ON P.MPP = B.MD_SOURCE_AMT

union ALL

SELECT MD_DRUG_NO, MD_SOURCE_AMT, ATC_CODE FROM MD_AMT B
INNER JOIN PBS_ATC_AMT P ON P.TPP = B.MD_SOURCE_AMT
union ALL

SELECT MD_DRUG_NO, MD_SOURCE_AMT, ATC_CODE FROM MD_AMT B
INNER JOIN PBS_ATC_AMT P ON P.MP = B.MD_SOURCE_AMT


